{% extends "base.html" %}
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/auth.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% block content %}
    <style>
        .reset-password-container {
            max-width: 450px;
            margin: 50px auto;
            padding: 30px;
            box-shadow: 0 16px 48px #e4ebe3;
            background-color: white;
            border-radius: 40px;
        }

        .reset-password-title {
            text-align: center;
            color: #185034;
        }

        .btn-secondary {
            background-color: #ffd700;
            border-color: #ffd700;
            color: black;
        }

        .form-control {
            border-radius: 20px;
            background-color: #f3fbf4;
            padding: 10px 20px;
            border: 0;
        }

        .form-group {
            margin-bottom: 0;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>

    <div class="reset-password-container container mt-5">
        <h2>{% trans "Reset Your Password" %}</h2>
        <div class="form-group form-group">
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="btn-container">
                    <button type="submit" class="btn btn-login">
                        {% trans "Reset Password" %}
                    </button>
                </div>
            </form>
        </div>

        <p class="mt-3">
            <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
        </p>
    </div>
{% endblock %}