{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if not user.is_authenticated %}
                    <div class="alert alert-success text-center" role="alert">
                        <h4 class="alert-heading">Thank You!</h4>
                        <p>Your message has been sent successfully. We'll get back to you as soon as possible.</p>
                    </div>
                    <div class="alert alert-info text-center" role="alert">
                        <h4 class="alert-heading">Don't have an account yet?</h4>
                        <p>Create your account now to access our features!</p>
                        <hr>
                        <a href="{% url 'create_account' %}" class="btn btn-secondary mt-3">Create Account</a>
                    </div>
                {% else %}
                    <div class="alert alert-success text-center" role="alert">
                        <h4 class="alert-heading">Thank You!</h4>
                        <p>Your message has been sent successfully. We'll get back to you as soon as possible.</p>
                        <hr>
                        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Home</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
