{% load static %}
{% block contact_box %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/sidebar_card_style.css' %}">

    <div class="card sidebar-card">
        <div class="card-body">

            <!-- Card Title -->
            <h5 class="card-title">Get in Touch</h5>

            <!-- Card Text -->
            <div class="card-text">
                <p>
                    This blog is made entirely with our favourite full stack
                    <a href="https://www.djangoproject.com/" target="_blank">Framework Django</a>
                    and deployed with
                    <a href="https://www.digitalocean.com/?refcode=de2bbc881e20&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
                       target="_blank">DigitalOcean</a>.
                </p>
                <p>
                    If you want to know how to do it, you have the code on my
                    <a href="https://github.com/ijmadalena" target="_blank">GitHub</a>
                    or you can contact me.
                </p>
            </div>

            <!-- Card Button -->
            <a href="{% url 'contact' %}" class="btn sidebar-btn">Contact Me</a>

        </div>
    </div>
{% endblock contact_box %}
