{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/entry_style.css' %}">

    <div class="container">
        <div class="card mt-3 left top">
            <div class="header-image">
                {% if object.header_image %}
                    <img src="{{ object.header_image.url }}" alt="Header Image" class="header-image">
                {% endif %}
            </div>

            <header>
                <h1 class="page-title">
                    {% block title %}
                        {{ object.title }}
                    {% endblock title %}
                </h1>
                <p class="page-description">

                </p>
            </header>

            <div class="card-subtitle">
                <p class="text-muted">
                    {{ object.author }} | {{ object.created_at | date:"d M Y" }}
                </p>
            </div>

            <div class="like-dislike-buttons">
                {% if user.is_authenticated %}
                    <form id="like-form" method="post" action="{% url 'like_entry' object.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="like">
                        <button type="submit" class="btn btn-primary">Like: {{ object.like_count }}</button>
                    </form>
                    <form id="dislike-form" method="post" action="{% url 'like_entry' object.slug %}">
                        {% csrf_token %} <input type="hidden" name="type" value="dislike">
                        <button type="submit" class="btn btn-secondary">Dislike: {{ object.dislike_count }}</button>
                    </form>
                {% else %}
                    <p>Dislikes: {{ object.dislike_count }}</p>
                    <p>Like: {{ object.like_count }}</p>
                {% endif %}
            </div>

            <div class="social-buttons">
                <button class="social-button X" onclick="shareOnX()">Share on X</button>
                <button class="social-button linkedin" onclick="shareOnLinkedIn()">Share on LinkedIn</button>
            </div>

            <div class="card-body">
                <div class="card-text">
                    {{ object.content | markdown | safe }}
                </div>
            </div>
        </div>

        <script>
            function shareOnX() {
                const url = window.location.href;
                const text = document.querySelector('.page-title').innerText;
                const message = `Check out this blog post!\n\n${text}\n\nRead more here: ${url}`;
                const shareUrl = `https://x.com/intent/tweet?url=${encodeURIComponent(url)}&text=${encodeURIComponent(message)}`;
                window.open(shareUrl, '_blank');
            }

            function shareOnLinkedIn() {
                const url = window.location.href;
                const title = document.querySelector('.page-title').innerText;
                const shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(url)}&title=${encodeURIComponent(title)}`;
                window.open(shareUrl, '_blank');
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    </div>
{% endblock content %}
